.body {
    background-color: #000000;
    color: #ffffff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    margin: 0;
}

.navbar {
    background-color: #000000;
    border-color: #000000;
    color: #ffffff;
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}